<header>
  <nav class="container">
    <a href="/">
      <div class="nav-brand" >SPEC<span style="color: rgb(234, 234, 234)">T</span>R</div>
    </a>
    <div contenteditable>
    </div>
    <ul class="nav-links">
      <li><a href="/articles">Articles</a></li>
        <li><a href="/write-ups">Write ups</a></li>
        <li><a href="/projects">Projects</a></li>
    </ul>
  </nav>
</header>